
@{
    ViewData["Title"] = "Favorites list";
}

<h1>Favorites list</h1>

@model ApiProject.Models.Movies

<table type="table">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Rated</th>
        <th>Language</th>
        <th>Genre</th>
    </tr>
    @foreach (var favorite in Model.FavoritesArray)
    {
        <tr>
            <td>@favorite.Title</td>
            <td>@favorite.Released</td>
            <td>@favorite.Rated</td>
            <td>@favorite.Language</td>
            <td>@favorite.Genre</td>
        </tr>
    }
</table>